<div id="ingresar" class="container text-center">
  <div class="row justify-content-center ingresar">
    <div class="col-8 col-lg-7">
  <form class="form-signin">
    <h1 class="h2 mb-3 font-weight-normal text-white">Iniciar sesión</h1>
    <input type="email" id="inputEmail" class="form-control" placeholder="Ingresa correo" required="" autofocus="">
    <input type="password" id="inputPassword" class="form-control" placeholder="Ingresa contraseña" required="">
    <div class="checkbox mb-3">
      <label class="text-white">
        <input  type="checkbox" value="remember-me"> Recordar datos
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block mb-4" type="submit">Ingresar</button>
  </form>
</div>
</div>
</div>