<div id="footer" class="container-fluid footer">
  <div class="row justify-content-center align-items-center parallax" style="background-image: url(../../assets/img/castlevania_lords_of_shadow.jpg)">
    <div class="col-12">

      <!-- Footer -->
      <footer class="page-footer font-small indigo mt-4">

        <!-- Footer Links -->
        <div class="container">

          <!-- Grid row-->
          <!--<hr class="">
          Thematic break, linea de separación-->

          <!-- Grid row-->
          <div class="row d-flex text-center align-items-center filtro">


            <div id="map" class="col-12 col-md-6" onload="initMap()"></div>


            <!-- Grid column -->
            <div class="col-md-6 col-12 mt-4 ">
              <p>Haz misiones de tus vecinos o crea las tuyas.</p>
              <p>Además puedes obtener una recompensa realizando las peticiones.</p>
              <p>"Unidos por un bien común"</p>
            </div>
            <!-- Grid column -->

          </div>

        </div>
        <!-- Copyright 
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div>
     Copyright -->

      </footer>
      <!-- Footer -->

    </div>
  </div>
</div>
