<div class="container-fluid footer">
<div class="row">
<div class="col-12">
  
<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center mt-3">
  
        <!-- Grid column -->
        <div class="col-md-2 text-uppercase font-weight-bold">
          
            <a routerLink="ingresar" (click)="toTop()">Ingresar</a><!--event binding toTop-->
          
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-2 text-uppercase font-weight-bold">
            
              <a routerLink="registro" (click)="toTop()">Registrarse</a><!--event binding toTop-->
            
          </div>
          <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 text-uppercase font-weight-bold">
          
            <a routerLink="contacto" (click)="toTop()">Contacto</a><!--event binding toTop-->
          
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
      <hr class=""><!--Thematic break, linea de separación-->
  
      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center">
  
        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-sm-3">
          Aventúrate a completar misiones de los colonos, crea misiones y gana recompensas. Construye una red de contactos que te ayuden a generar oportunidades
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
      <hr class="clearfix rgba-white-light">
  
    </div>
    <!-- Footer Links -->
  <div class="footer-copyright text-center mb-3">
    2018 Jony Inc
  </div>
    <!-- Copyright 
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div>
     Copyright -->
  
  </footer>
  <!-- Footer -->
                        
</div>
</div>
</div>
