<div id="contacto" class="container-fluid">
  
  <div class="row justify-content-center align-items-center parallax" style="background-image: url(../../assets/img/fan_min_treehouse.jpg)">
    <div id="enviado" class="col-12 d-none">
      <div class="mensaje_enviado text-center">Su mensaje ha sido enviado. Gracias</div>
    </div>
    
    <form id="formulario" ngNativeValidate (submit)="enviar()">
    
      <h2 class="text-white">Contacto</h2>
    
      <div class="form-row">
        
        <div class="col-md-4 mb-3">
          
          <label for="validationDefault01">Nombre</label>
          <input type="text" class="form-control" id="validationDefault01" placeholder="Nombre" value="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefault02">Apellido</label>
          <input type="text" class="form-control" id="validationDefault02" placeholder="Apellido" value="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefaultUsername">Apodo (opcional)</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend2">@</span>
            </div>
            <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Apodo" aria-describedby="inputGroupPrepend2">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 mb-3">
          <label for="validationDefault03">Correo</label>
          <input type="text" class="form-control" id="validationDefault03" placeholder="Correo" required>
        </div>  
      </div>
      <div class="form-row">
        <div class="col-12">
<label for="validationDefaultMessage">Mensaje</label>
<textarea class="form-control" id="validationDefaultMessage" rows="3" required></textarea>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
  </div>
</div>
