$fondo-contacto: rgba(101, 103, 107, .89);
$placeholder-color: rgb(230, 220, 220);
.mensaje_enviado {
 
  background-color: $fondo-contacto;
  //color: #86d9ab;
  color:white;
  font-size: 2.5rem;
}

.form-control {
  color: aqua;
}

#formulario {
  background-color: $fondo-contacto;
  color: rgb(247, 242, 242);
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 30px 20px;
  box-shadow: 5px 5px rgba(15, 15, 22, 0.815);
}

#formulario input,
textarea {
  background-color: $fondo-contacto;
}

textarea:focus {
  background-color: transparent;
}
textarea{
  max-height: 200px;
  resize: vertical;
}

::placeholder {
  color: $placeholder-color;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $placeholder-color;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $placeholder-color;
}
h2{
  margin:0;
}
