.mision{
    background-image: url(../../assets/img/fondo_old_sheet.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    padding: 15%;
    min-width: 14rem;
}
.borde-image{
    border: 50px solid transprent;
    padding: 5%;
    -webkit-border-image: url(../../assets/img/old_sheet_marco.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../../assets/img/old_sheet_marco.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(../../assets/img/old_sheet_marco.png) 30 stretch;
    z-index:999; 
    box-shadow: 20px 20px 15px black;
}

.parallax_misiones { 
    /* The image used */
    background-image: url("../../assets/img/anime-background.jpg");
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
    /* Set a specific height */
    
    
  
     /*Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }