<div id="misiones" class="container-fluid parallax_misiones">
  <!--(loadstart)="cargando()"-->
  <!--Cargando
  <div id="cargando" class="d-none">
    <img src="../../assets/img/ajax-loader-pacman.gif" alt="cargando">
  </div>-->



  <div class="row justify-content-center">
    <!--Usando firestore db -->
    <div *ngFor="let mision of misiones | async" class="col-9 col-md-4 m-5">
      <div class="card text-center ">
        <img class="card-img-top" src="../../assets/img/wood_navbar.png" alt="Card image cap">
        <div class="card-header">
          <h4>
            <span>{{mision.rapidez}}</span>
          </h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{mision.titulo}}</h5>
          <p class="card-text">{{mision.contenido}}</p>
          <p class="card-text">{{textoRecompensa}} {{mision.recompensa}}</p>
          <a href="#" class="btn btn-info btn-block">{{botonMision}}</a>
        </div>
        <div class="card-footer text-secondary font-weight-bold">
          {{mision.fecha}}
        </div>
      </div>
    </div>

    <!-- sin ngfor usando objetos del component.ts
    <div class="col-9 col-md-4 m-5">
      <div class="card text-center ">
        <img class="card-img-top" src="../../assets/img/wood_navbar.png" alt="Card image cap">
  <div class="card-header">
    <h4><span>{{mision1.rapidez}}</span></h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{mision1.titulo}}</h5>
    <p class="card-text">{{mision1.contenido}}</p>
    <p class="card-text">{{mision1.recompensa}}</p>
    <a href="#" class="btn btn-info btn-block">{{botonMision}}</a>
  </div>
  <div class="card-footer text-secondary font-weight-bold">
      {{mision1.fecha}}
  </div>
</div>
    </div>
  

  
      <div class="col-9 col-md-4 m-5">
        <div class="card text-center ">
          <img class="card-img-top" src="../../assets/img/wood_navbar.png" alt="Card image cap">
    <div class="card-header">
      <h4><span>{{mision2.rapidez}}</span></h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{mision2.titulo}}</h5>
      <p class="card-text">{{mision2.contenido}}</p>
      <p class="card-text">{{mision2.recompensa}}</p>
      <a href="#" class="btn btn-info btn-block">{{botonMision}}</a>
    </div>
    <div class="card-footer text-secondary font-weight-bold">
        {{mision2.fecha}}
    </div>
  </div>
      </div>
   

   
        <div class="col-9 col-md-4 m-5">
          <div class="card text-center ">
            <img class="card-img-top" src="../../assets/img/wood_navbar.png" alt="Card image cap">
      <div class="card-header">
        <h4><span>{{mision3.rapidez}}</span></h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{mision3.titulo}}</h5>
        <p class="card-text">{{mision3.contenido}}</p>
        <p class="card-text">{{mision3.recompensa}}</p>
        <a href="#" class="btn btn-info btn-block">{{botonMision}}</a>
      </div>
      <div class="card-footer text-secondary font-weight-bold">
          {{mision3.fecha}}
      </div>
    </div>
        </div>
     

      
          <div class="col-9 col-md-4 m-5">
            <div class="card text-center ">
              <img class="card-img-top" src="../../assets/img/wood_navbar.png" alt="Card image cap">
        <div class="card-header">
          <h4><span>{{mision4.rapidez}}</span></h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{mision4.titulo}}</h5>
          <p class="card-text">{{mision4.contenido}}</p>
          <p class="card-text">{{mision4.recompensa}}</p>
          <a href="#" class="btn btn-info btn-block">{{botonMision}}</a>
        </div>
        <div class="card-footer text-secondary font-weight-bold">
            {{mision4.fecha}}
        </div>
      </div>
          </div>
        
-->

  </div>
</div>
