.fondo_contacto {
    background-image: url(../../assets/img/table_texture_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 20px 20px 15px black;
}
input{
    background-color: rgba(143, 63, 43, 0.658);
    border-color: rgba(27, 17, 4, 0.658);
}
.container-fluid{
    padding-top: 4%;
    padding-bottom: 5%;
}